{% assign contacts = site.data.data.sidebar.contacts %}
{% assign social = site.data.data.sidebar.social %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    {% for contact in contacts %}
    {% if contact.type %}
    <li class="{{ contact.type }}">
      <a href="{{ contact.link }}">
        <i class="{{ contact.icon }}"></i>
        {{ contact.text }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="list-inline contact-list">
    {% for link in social %}
    {% if link.type %}
    <li class="{{ link.type }}">
      <a href="{{ link.link }}" target="_blank">
        <i class="{{ link.icon }}"></i>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div><!--//contact-container-->
