{% assign contacts = site.data.data.sidebar.contacts %}
{% assign social = site.data.data.sidebar.social %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">
    {% for contact in contacts %}
    <li class="{{ contact.type }}">
      <a href="{{ contact.link }}">
        <i class="{{ contact.icon }}"></i>
        {{ contact.text }}
      </a>
    </li>
    {% endfor %}
    {% comment %}
    {% if sidebar.email %}
    <li class="email">
      <a href="mailto:{{ sidebar.email }}">
        <i class="fas fa-envelope"></i>
        {{ sidebar.email }}
      </a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone">
      <a href="tel:{{ sidebar.phone }}">
        <i class="fas fa-phone"></i>
        {{ sidebar.phone }}
      </a>
    </li>
    {% endif %}

    {% if sidebar.whatsapp %}
    <li class="whatsapp">
      <a href="https://api.whatsapp.com/send?phone={{ sidebar.whatsapp }}">
        <i class="fab fa-whatsapp"></i>
        +{{ sidebar.whatsapp }}
      </a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website">
      <a href="http://{{ sidebar.website }}" target="_blank">
        <i class="fas fa-globe-americas"></i>
        {{ sidebar.website }}
      </a>
    </li>
    {% endif %}
    {% endcomment %}
  </ul>
  <ul class="list-inline contact-list">
    {% if sidebar.linkedin %}
    <li class="linkedin">
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.facebook %}
    <li class="facebook">
      <a href="https://facebook.com/{{ sidebar.facebook }}" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.instagram %}
    <li class="instagram">
      <a href="https://www.instagram.com/{{ sidebar.instagram }}">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.medium %}
    <li class="medium">
      <a href="https://medium.com/{{ sidebar.medium }}" target="_blank">
        <i class="fab fa-medium"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github">
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.gitlab %}
    <li class="gitlab">
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">
        <i class="fab fa-gitlab"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.bitbucket %}
    <li class="bitbucket">
      <a href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">
        <i class="fab fa-bitbucket"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.twitter %}
    <li class="twitter">
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <li class="stack-overflow">
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">
        <i class="fab fa-stack-overflow"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.codewars %}
    <li class="codewars">
      <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">
        <i class="fas fa-code"></i>
      </a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
